.container {
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
  background-color: rgba(3, 63, 104, 0.856);
}

.title {
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 18px;
}
